@import "variables";

/*
	Theme controls how everything looks in Gallery CSS.
*/

.#{$gallery-class-name} {
	position: relative;

  .#{$gallery-class-name}__item {
    height: 400px;
    overflow: hidden;
    text-align: center;
    background: #4d87e2;
  }

	.#{$gallery-class-name}__controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

	.#{$gallery-class-name}__control-button {
		display: inline-block; margin: 0 .02em;
		font-size: 3em;

		@include inactive-button;

		text-align: center; text-decoration: none;
		transition: color .1s;

		&:hover { @include active-button; }
	}
}
